.list {
  display: flex;
  gap: 64px;
  list-style-type: none;
}

.item {
  font-family: var(--font-family);
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 16px 0px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.item:hover {
  transform: scale(1.1);
  color: var(--accent-color);
}
