.home {
  height: 100vh;
  width: 100%;
  background-color: rgb(18, 11, 2);
  background-image: url('/MainPage/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 32px;
}

.subhead {
  display: block;
  margin: 144px auto 0px auto;
  font-family: 'Jomolhari';
  color: var(--primary-text-color);
  font-size: 48px;
  font-weight: 400;
  width: 468px;
  text-align: center;
  line-height: 140%;
  text-align: center;
  position: relative;
}

.heading {
  font-family: 'Jomolhari';
  color: var(--primary-text-color);
  font-size: 128px;
  font-weight: 400;
}

.subhead::after {
  content: 'Ukraine';
  position: absolute;
  font-size: 128px;
  font-weight: 400;
  top: 40%;
  height: 100%;
  left: 0;
  right: 0;
  color: var(--primary-text-color);
  transform: scaleY(-1);
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 0) 90%
  );
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 0) 90%
  );
}
